/* --- VARIABLES (Preparación para Modo Oscuro/Claro) --- */
:root {
    --bg-color: #f4f4f9;
    --text-color: #333333;
    --header-bg: #ffffff;
    --card-bg: #ffffff;
    --primary-color: #3d6491;
    --border-color: #dddddd;
}

/* Esta clase la activaremos con JS en la 2da entrega */
.tema-oscuro {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --header-bg: #1e1e1e;
    --card-bg: #1e1e1e;
    --primary-color: #64b5f6;
    --border-color: #333333;
}

/* --- ESTILOS GENERALES --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
    vertical-align:middle;
    color: var(--text-color);
    font-size: 1.5em;
}

.fa-heart:hover {
    color: #b83434;
    
}

.fa-cart-shopping:hover {
    color: var(--primary-color);
}

i {
    display: flex;
    align-content: center;
    justify-content: center;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* --- HEADER Y NAVEGACIÓN --- */
header {
    background-color: var(--header-bg);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* --- MAQUETADO DE LOGIN --- */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    background: var(--card-bg);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid var(--border-color);
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

/* --- MAQUETADO DE CATÁLOGO (Grid y Lista) --- */
.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

/* Vista Tarjeta (Grilla Responsiva) */
.catalogo-grid {
    display: grid;
    /* Esto hace que sea responsivo automáticamente */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 2rem 2rem 2rem;
}

/* Vista Lista (Para aplicar en la 2da entrega con JS) */
.catalogo-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 2rem 2rem 2rem;
}

.tarjeta {
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.tarjeta img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.acciones-tarjeta {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}